html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.horloge {
  background-color: antiquewhite;
  height: 25%;
}

#digitsContainer {
  width: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;

  margin-bottom: 2%;
  height: 50%;
}

#placement_minutes,
#placement_secondes,
#placement_millisecondes {
  width: 100%;
  display: flex;
  flex-direction: row;
}

#placement_minutes {
  justify-content: flex-end;
}

#placement_secondes {
  justify-content: center;
}

#minutes_unites,
#secondes_unites {
  margin-left: 2%;
}

.afficheur_sept_segment {
  /* width: 6%; */
  aspect-ratio: 50/100;
  height: 160%;
  position: relative;

  background-color: orange;
}

.segment_verticale {
  width: 20%;
  height: 50%;

  position: absolute;
}

.segment_horizontale {
  width: 20%;
  height: 50%;

  position: absolute;
}

.segment1 {
  background-color: thistle;
}

.segment2 {
  transform: rotate(90deg);
  position: relative;
  margin-left: auto;
  margin-right: auto;

  margin-top: -40%;
  background-color: aquamarine;
}

.segment3 {
  /* Pourquoi perd t-il la position absolute ?*/
  top: 15px;
  right: 0;
  background-color: turquoise;
}

.segment4 {
  left: 42%;

  transform: rotate(90deg);
  background-color: violet;
}

.segment5 {
  bottom: 0;
  right: 0;
  background-color: whitesmoke;
}

.segment6 {
  transform: rotate(90deg);
  position: relative;
  left: 42%;
  bottom: -45%;
  background-color: beige;
}

.segment7 {
  /* position: absolute; */
  bottom: 0;
  background-color: azure;
}

.division {
  height: 45%;
  width: 10%;
  text-align: center;
}
/************************BUTTON***********************/

#buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#buttonReset,
#buttonPlay,
#buttonLap {
  width: 50px;
  height: 50px;
}
/* .container {
    float: left;
    height: 50%;
    width: 50%;
}
 .chronometre {
  background-color: #aaa;
}

.alarme {
  background: #777;
}

.minuteur {
  background: #444;
} */
