


.container {
    width: 800px;
    height: 400px;

    margin-right: auto;
    margin-left: auto;
    background-color: antiquewhite;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.afficheur_sept_segment {
    width: 100px;
    height: 200px;
    position: relative;

    background-color: orange;
}

.segment {
    width: 20%;
    height: 45%;


    position: absolute;
}

.segment2 {
    transform: rotate(90deg);
    position: relative;
    margin-left: auto;
    margin-right: auto;

    margin-top: -35%;
}

.segment3 { /* Pourquoi perd t-il la position absolute ?*/
    top: 15px;
    right: 0;
}

.segment4 {
    left: 42%;


    transform: rotate(90deg);
}

.segment5 {
    bottom: 0;
    right: 0;
}

.segment6 {
    transform: rotate(90deg);
    position: relative;
    left: 42%;
    bottom: -45%;
}

.segment7 {
    position: absolute;
    bottom: 0;
}

.division {
    height: 45%;
    width: 10%;
    text-align: center;
}

